body {
  background-color: #06040ae1;
}

p {
  color: white;
}

input{
    color: white;
    width: 50%;
    text-align: center;
}

b {
  color: white;
}

.text {
  margin: 2%;
}

a {
  color: rgba(72, 115, 233, 0.979);
}

h4 {
  color: white;
  text-align: center;
}

h5 {
  color: white;
  text-align: center;
}

ul li::before {
  color: white;
}

li {
  list-style-type: circle;
  color: white;
}

#main-heading {
  margin-top: 0mm;
  padding: 5mm;
  text-align: center;
}

.slidecontainer {
  width: 70%;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
